@model FarmIt.Models.DTO.RecepiesListVm
@{
}

<div class="tbl-container">
    <h2>Produktet</h2>

    <table>
        <tr>
            <th>Emri</th>
            <th>Kategoria</th>
            <th>Emri I Fermerit</th>
            <th>Imazhi</th>
            <th>Action</th>
            
        </tr>
        @foreach(var item in Model.ProductList){
        <tr>
            <td>@item.Title</td>
                <td>@item.CategoryNames</td>
                <td>@item.EmriIFermerit</td>
                
            <td><img style="height:60px;width:80px" src="/Uploads/@item.ProductImage"/></td>
               
                <td>
                <a href="/Product/Edit?id=@item.Id" class="btn btn-default"><i class="fa fa-edit"></i></a>
                <a onclick="return window.confirm('Are you sure?')" href="/Product/Delete?id=@item.Id" class="btn btn-danger"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
        }
     
    </table>
    <div class="input-container">
        <a href="/Product/Add" class="btn btn-sec">Kthehu</a>
    </div>
</div>
